<div>
    <h2 id="page-heading">
        <span jhiTranslate="micocheApp.incidencia.home.title">Incidencias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incidencia" [routerLink]="['/incidencia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="micocheApp.incidencia.home.createLabel">
            Create a new Incidencia
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="incidencias?.length === 0">
        <span jhiTranslate="micocheApp.incidencia.home.notFound">No incidencias found</span>
    </div>
    <div class="table-responsive" *ngIf="incidencias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.incidencia.detalle">Detalle</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.incidencia.estado">Estado</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.incidencia.coche">Coche</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incidencia of incidencias ;trackBy: trackId">
                    <td><a [routerLink]="['/incidencia', incidencia.id, 'view' ]">{{incidencia.id}}</a></td>
                    <td>{{incidencia.detalle}}</td>
                    <td>
                        <div class="badge badge-pill badge-success text-wrap" style="width: 4.5rem;" *ngIf="incidencia.estado">
                            Resuelto
                        </div>
                        <div class="badge badge-pill badge-danger text-wrap" style="width: 6rem;" *ngIf="!incidencia.estado">
                            Por resolver
                        </div>
                    </td>
                    <td>
                        <div *ngIf="incidencia.coche">
                            <a [routerLink]="['/coche', incidencia.coche?.id, 'view' ]">{{incidencia.coche.matricula}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/incidencia', incidencia.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/incidencia', incidencia.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                            <button type="submit" (click)="delete(incidencia)" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>