<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incidencia">
            <h2><span jhiTranslate="micocheApp.incidencia.detail.title">Incidencia</span> {{incidencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="micocheApp.incidencia.detalle">Detalle</span></dt>
                <dd>
                    <span>{{incidencia.detalle}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.incidencia.estado">Estado</span></dt>
                <dd>
                    <span>{{incidencia.estado}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.incidencia.coche">Coche</span></dt>
                <dd>
                    <div *ngIf="incidencia.coche">
                        <a [routerLink]="['/coche', incidencia.coche?.id, 'view']">{{incidencia.coche?.marca}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incidencia', incidencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
