<div>
    <h2 id="page-heading">
        <span jhiTranslate="micocheApp.propietario.home.title">Propietarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-propietario" [routerLink]="['/propietario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="micocheApp.propietario.home.createLabel">
            Create a new Propietario
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="propietarios?.length === 0">
        <span jhiTranslate="micocheApp.propietario.home.notFound">No propietarios found</span>
    </div>
    <div class="table-responsive" *ngIf="propietarios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="micocheApp.propietario.nombre">Nombre</span></th>
            <th scope="col" ><span jhiTranslate="micocheApp.propietario.apellido">Apellido</span></th>
            <th scope="col" ><span jhiTranslate="micocheApp.propietario.dni">Dni</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let propietario of propietarios ;trackBy: trackId">
                <td><a [routerLink]="['/propietario', propietario.id, 'view' ]">{{propietario.id}}</a></td>
                <td>{{propietario.nombre}}</td>
                <td>{{propietario.apellido}}</td>
                <td>{{propietario.dni}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/propietario', propietario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/propietario', propietario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(propietario)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
