<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="propietario">
            <h2><span jhiTranslate="micocheApp.propietario.detail.title">Propietario</span> {{propietario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="micocheApp.propietario.nombre">Nombre</span></dt>
                <dd>
                    <span>{{propietario.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.propietario.apellido">Apellido</span></dt>
                <dd>
                    <span>{{propietario.apellido}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.propietario.dni">Dni</span></dt>
                <dd>
                    <span>{{propietario.dni}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/propietario', propietario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
