<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coche-heading" jhiTranslate="micocheApp.coche.home.createOrEditLabel">Create or edit a Coche</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="micocheApp.coche.marca" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca" formControlName="marca" />
                    <div *ngIf="editForm.get('marca')!.invalid && (editForm.get('marca')!.dirty || editForm.get('marca')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('marca')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('marca')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="micocheApp.coche.modelo" for="field_modelo">Modelo</label>
                    <input type="text" class="form-control" name="modelo" id="field_modelo" formControlName="modelo" />
                    <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                            This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color" formControlName="color" />
                    <div *ngIf="editForm.get('color')!.invalid && (editForm.get('color')!.dirty || editForm.get('color')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('color')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                            This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="micocheApp.coche.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio" formControlName="precio" />
                    <div *ngIf="editForm.get('precio')!.invalid && (editForm.get('precio')!.dirty || editForm.get('precio')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('precio')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('precio')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="micocheApp.coche.vendido" for="field_vendido">Vendido</label>
                    <input type="checkbox" class="form-control" name="vendido" id="field_vendido" formControlName="vendido" />
                    <div *ngIf="editForm.get('vendido')!.invalid && (editForm.get('vendido')!.dirty || editForm.get('vendido')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('vendido')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="micocheApp.coche.matricula" for="field_matricula">Matricula</label>
                    <input type="text" class="form-control" name="matricula" id="field_matricula" formControlName="matricula" />
                    <div *ngIf="editForm.get('matricula')!.invalid && (editForm.get('matricula')!.dirty || editForm.get('matricula')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('matricula')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('matricula')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }">
                        This field cannot be longer than 15 characters.
                        </small>
                    </div>
                </div>
                <div *ngIf="editForm.get('vendido')!.value">
                    <div class="form-group">
                        <label class="form-control-label" for="field_datesold">Fecha de venta</label>
                        <input type="date" class="form-control" name="datesold" id="field_datesold" formControlName="datesold" />
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('vendido')!.value">
                    <label class="form-control-label" for="field_coche">Propietario</label>
                    <select class="form-control" id="field_propietario" name="propietario" formControlName="propietario">
                        <option [ngValue]="null">Seleccione un propietario</option>
                        <option 
                            [ngValue]="propietarioOption.id === editForm.get('propietario')!.value?.id ? editForm.get('propietario')!.value : propietarioOption" 
                            *ngFor="let propietarioOption of propietarios; trackBy: trackById">
                            {{propietarioOption.dni}}
                        </option>
                    </select>
                </div>



            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>