<div>
    <h2 id="page-heading">
        <span jhiTranslate="micocheApp.coche.home.title">Coches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coche" [routerLink]="['/coche/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="micocheApp.coche.home.createLabel">
            Create a new Coche
            </span>
        </button>
    </h2>
    <h4>
        <span>Buscar Coches</span>
        <div class="row mb-2">
            <div class="input-group col-8">
                <input type="text" class="form-control" name="buscar" [(ngModel)]="buscar" placeholder=" Factor de busqueda">
                <input type="text" class="form-control" name="buscar2" [(ngModel)]="buscar2" *ngIf="activateByPrecio" placeholder="Segundo factor de busqueda">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-dark " (click)="buscarByMarca()" type="button">Marca</button>
                    <button class="btn btn-outline-dark " (click)="buscarByPropietario()" type="button">Propietario</button>
                    <button *ngIf="!activateByPrecio" class=" btn btn-outline-dark " [ngClass]="{'animated zoomIn': !activateByPrecio}" (click)="activateByPrecio=! activateByPrecio ">¿Precio?</button>
                    <button *ngIf="activateByPrecio " class="btn btn-outline-dark " [ngClass]="{'animated zoomIn': activateByPrecio}" (click)="buscarByPrecio() ">Entre cuanto?</button>
                    <button *ngIf="activateByPrecio " class="btn btn-outline-dark " [ngClass]="{'animated zoomIn delay-1s': activateByPrecio}" (click)="activateByPrecio=! activateByPrecio ">  <fa-icon [icon]=" 'sync' "></fa-icon> </button>
                </div>
            </div>

            <div class="float-left ">
                <button *ngIf="!vendidoActive " [ngClass]="{'animated bounce': !vendidoActive}" class="btn btn-block btn-outline-light " (click)="loadAll(); vendidoActive=! vendidoActive "> Mostrar Todos los coches </button>
                <button *ngIf="vendidoActive " [ngClass]="{'animated bounce': vendidoActive}" class="btn btn-block btn-light " (click)="loadActive(); vendidoActive=! vendidoActive "> Mostrar sin vender </button>
            </div>

        </div>

    </h4>

    <br/>
    <div class="alert alert-warning " *ngIf="coches?.length===0 ">
        <span jhiTranslate="micocheApp.coche.home.notFound ">No coches found</span>
    </div>
    <div class="table-responsive " *ngIf="coches?.length> 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.coche.marca">Marca</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.coche.modelo">Modelo</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.coche.precio">Precio</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.coche.vendido">Vendido</span></th>
                    <th scope="col"><span jhiTranslate="micocheApp.coche.matricula">Matricula</span></th>
                    <th scope="col"><span>Dueño</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coche of coches ;trackBy: trackId; index as i" class="active animated fadeInDown delay-02s" jhiHighlight>
                    <td><a [routerLink]="['/coche', coche.id, 'view' ]">{{coche.id}}</a></td>
                    <td>
                        {{coche.marca | passPipe:true}}
                    </td>
                    <td>{{coche.modelo | removeSpaces}}</td>
                    <td>{{coche.precio }}</td>
                    <td>
                        <div class="badge badge-pill badge-success text-wrap" style="width: 4.8rem;" *ngIf="coche.vendido">
                            Vendido
                        </div>
                        <div class="badge badge-pill badge-primary text-wrap" style="width: 4.8rem;" *ngIf="!coche.vendido">
                            Disponible
                        </div>
                    </td>
                    <td>{{coche.matricula}}</td>
                    <td>
                        <p *ngIf="coche.propietario">{{coche.propietario.dni}} </p>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/coche', coche.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>


                            <button *ngIf="!coche.vendido" role="button" class="btn btn-sm" [ngClass]="{ 'btn-success': !coche.vendido, 'btn-danger disabled':  coche.vendido }" (click)="cambiarIndice(coche)">
                                    <fa-icon [icon]="'money-bill-wave'"></fa-icon>
                                    <span class="d-none d-md-inline">Buy</span>
                            </button>
                            <button *ngIf="coche.vendido" role="button" class="btn btn-sm" [ngClass]="{ 'btn-success': !coche.vendido, 'btn-danger disabled':  coche.vendido }" disabled>
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Sold</span>
                            </button>
                            <button type="submit" [routerLink]="['/coche', coche.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" (click)="delete(coche)" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
</div>