<form *ngIf="coche" (ngSubmit)="updateOwner(coche)" [formGroup]="buyCoche" [jhiMustMatch]="[ 'email', 'confirmEmail']">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm update operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <!--  <pre>
            {{coche | json}}
        </pre> -->
        <div class="form-group">
            <label for="field_nombre" class="form-control-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" name="nombre" [(ngModel)]="coche.propietario.nombre" jhiForbiddenName="Diego" required />
            <div *ngIf="buyCoche.get('nombre')!.invalid && (buyCoche.get('nombre')!.dirty || buyCoche.get('nombre')!.touched)">
                <small class="form-text text-danger" *ngIf="buyCoche.get('nombre').errors.forbiddenName">
                    Los email deben coincidir
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="field_apellido" class="form-control-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" name="apellido" [(ngModel)]="coche.propietario.apellido" required />
        </div>
        <div class="form-group">
            <label for="field_email" class="form-control-label">Email</label>
            <input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="coche.propietario.email" required />
        </div>
        <div class="form-group">
            <label for="field_confirmEmain" class="form-control-label">Confirmar Email</label>
            <input type="text" class="form-control" formControlName="confirmEmail" name="confirmEmail" required />
            <div *ngIf="buyCoche.get('confirmEmail')!.invalid && (buyCoche.get('confirmEmail')!.dirty || buyCoche.get('confirmEmail')!.touched)">
                <small class="form-text text-danger" *ngIf="buyCoche.get('confirmEmail').errors.mustMatch">
                    Los email deben coincidir
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="field_dni" class="form-control-label">DNI</label>
            <input type="text" class="form-control" formControlName="DNI" name="dni" [(ngModel)]="coche.propietario.dni" required />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-update-coche" type="submit" class="btn btn-success">
            <fa-icon [icon]="'check'"></fa-icon><span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>