<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coche">
            <h2><span jhiTranslate="micocheApp.coche.detail.title">Coche</span> {{coche.id}}</h2>
            <hr>

            <pre>
                {{coche | json}}
            </pre>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="micocheApp.coche.marca">Marca</span></dt>
                <dd>
                    <span>{{coche.marca}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.coche.modelo">Modelo</span></dt>
                <dd>
                    <span>{{coche.modelo}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.coche.precio">Precio</span></dt>
                <dd>
                    <span>{{coche.precio}} €</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.coche.vendido">Vendido</span></dt>
                <dd>
                    <span>{{coche.vendido}}</span>
                </dd>
                <dt><span jhiTranslate="micocheApp.coche.matricula">Matricula</span></dt>
                <dd>
                    <span>{{coche.matricula}}</span>
                </dd>
                <dt><span >Dueño</span></dt>
                <dd>
                    <span>{{coche.propietario.nombre + coche.propietario.apellido}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/coche', coche.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>