<div class="container">
    <div class="row">
        <h2 class="text-center">Selecciona e intenta!</h2>
        <div (click)="usuarioSelect('piedra')" class="col">
            <img [src]="piedra" width="200px" alt="">
            <span>Piedra</span>
        </div>
        <div (click)="usuarioSelect('papel')" class="col">
            <img [src]="papel" width="200px" alt="">
            <span>papel</span>
        </div>
        <div (click)="usuarioSelect('tijera')" class="col">
            <img [src]="tijera" width="200px" alt="">
            <span>tijera</span>
        </div>
    </div>

    <div class="row">
        <div *ngIf="ramdomSelect" class="col">
            <h2 class="text-center">El ordenador selecciono:</h2>
            <img [src]="imgCpu" width="200px" alt="">
            <span>{{ramdomSelect | titlecase}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="resultado === true">
                <span>HAZ GANADO! </span>
            </div>
            <div *ngIf="resultado === false">
                <span>perdiste</span>
            </div>

            <div *ngIf="resultado === 'empate'">
                <span>Haz empatado</span>
            </div>
        </div>

    </div>


</div>